:root {
    --primary-color: rgb(91, 139, 123);
    --secondary-color: aliceblue;
    --error-color: rgb(118, 19, 19);
    --border-color: rgb(73, 59, 90);
}

*,
*::before,
*::After {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
}

form {
    background-color: var(--secondary-color);
    padding: 5em 2em;
    width: 400px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px 10px var(--secondary-color);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
}

.error-message {
    color: var(--error-color);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.error-message.show{
    opacity: 1;
    visibility: visible;
}

input,
button {
    display: block;
    width: 100%;
    padding: 1em;
    outline: none;
    color: white;
    border: none;
    border-radius: 0.3em;
    transition: background-color 0.3s ease;
}

input {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--border-color);
}

button {
    background-color: var(--primary-color);
    margin-top: 2em;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-10px);
    }

    50% {
        transform: translate(10px);
    }

    75% {
        transform: translate(-10px);
    }

    100% {
        transform: translate(0);
    }
}